<!DOCTYPE html>
<html>
<head>
  <title>Radio Buttons</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>

    <div id="root">

        <form>
            
            <select v-model="searchIndex" > 
                <option value="option1">option 1</option>
                <option value="option2">option 2</option>
                <option value="option3">option 3</option>
                <option value="option4">option 4</option>
                <option value="option5">option 5</option>
                <option value="option6">option 6</option>
            </select>

        </form>

        <small>
            {{searchIndex}}
        </small><br><br>


        <form>
            
            <select multiple v-model="selectedSearchIndexes" > 
                <option value="option1">option 1</option>
                <option value="option2">option 2</option>
                <option value="option3">option 3</option>
                <option value="option4">option 4</option>
                <option value="option5">option 5</option>
                <option value="option6">option 6</option>
            </select>

        </form>

        <small>
            {{selectedSearchIndexes}}
        </small>

    </div>

    <script>
        var myVue = new Vue({
            el:'#root',
            data: {
                searchIndex: [], //unset on load
                //searchIndex : 'option5'

                selectedSearchIndexes: [
                    'option1','option4'
                ]
            }
        })
    </script>

</body>
</html>